*/.vagrant
puppet/modules_sp/*
puppet/modules/*
puppet/modules_sp/.*
puppet/modules/.*
apache/www/*
apache/data/*
coursera/www/*
coursera/data/*
elasticsearch/data/*
jenkins/data/*
kyototycoon/data/*
log/data/*
memcached/data/*
mongodb/data/*
mysql/data/*
nifi/data/*
parse/data/*
postgresql/data/*
rabbitmq/data/*
ror/www/*
ror/data/*
rundeck/data/*
